*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background: url('./assert/photo4.jpg') no-repeat fixed center;
  background-size: cover;
}

h1,
h2{
  color: #fff;
}